*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: border-box;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: black;
}
html {
    background-image: url(./../images/background.png);
    background-position: -10px;
}
#content {display: none;}
@media screen and (max-width: 400px) {
    *{font-size: 8px;}
}

@media screen and (max-width: 480px) {
    & #error {display: none;}
    & #content {display: block;}
}
.major-mono display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }
 
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  
#logo{
    overflow: hidden;
    width: 100px;
    height: 100px;
    
    margin: 10px auto;

    & img{
        width: 100px;
        height: 100px;
    }
    z-index: 999;
}
p {
    font-family: "Montserrat";
}
h1 {
    font-size: 2.3rem;
    text-transform: lowercase;
    font-family: "Major Mono Display";
    text-align: center;
}
#content {
    overflow-x: hidden;
    hyphens: auto;

    #svgMenu {
        margin: 50px 0;
    }

    .headIntro {
        background-color: #99F;
        padding: 10px;
        margin: 50px 20px 0 20px;

        h1{
            font-size: 1.7rem;
            text-align: center;
        }
    }

    .question {

        margin: 10px 30px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e78d2;
        background-color: white;
        & h1 {
            font-size: 1.5rem;
            background-color: #7e78d2;
            margin: 0;
            padding: 5px 0;
            text-align: center;
        }

        & p {
            padding: 10px;
            font-family: "Montserrat";
        }
        
    }

    #network {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        & i {
            background-color: #7e78d2;
            width: 100px;
            height: 100px;
            font-size: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        & p {
            text-align: center;
        }
    }

    #passion {
        overflow: hidden;
        height: 650px;
        & h1 {
            background-color: #ad63cf;
            font-size: 2rem;
            margin: 30px 20px;
            padding: 10px 0;
        }
        & #btnPassion {
            margin: 0 40px;
            background-color: #ad63cf;
            padding: 10px;
            text-align: center;
        }

        #passionRandom {
            hyphens: auto;
            margin: 10px 30px;
            border-style: solid;
            border-width: 3px;
            border-color: #ad63cf;
            background-color: white;

            & h1 {
                font-size: 1.3rem;
                background-color: #ad63cf;
                margin: 0;
                text-align: center;
                padding: 10px 0;
            }

            & img {
                max-width: 80%;
                margin: 0 auto;
                display: block;
                padding: 10px 0;
            }
            & p {
                padding: 10px;
            }
        }
    }
}




.projets {

    margin: 10px 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #7AA7FF;
    background-color: white;

    & h1 {
        font-size: 1.3rem;
        background-color: #7AA7FF;
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

    & img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
        padding: 10px 0;
    }
    & p {
        padding: 10px;
    }
    & .separator {
        background-color: #7AA7FF;
        width: 100%;
        height: 3px;
    }

    .linkProjects {
        text-align: center;
        background-color: #7AA7FF;
        margin: 10px 30px;
    }
}

footer,#mentionsLegales {
    .legal {
        margin: 10px 30px;
        border-style: solid;
        border-width: 3px;
        border-color: #7EF5CA;
        background-color: white;
        }
    p {
        background-color: white;
        padding: 10px;
    }
    h1 {
        font-size: 1.3rem;
        background-color: #7AA7FF;
        margin: 0;
        text-align: center;
        padding: 10px 0;
        background-color: #7EF5CA;
    }
    svg{
        text-align: center;
    }
}

#error {
    margin: 10px 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #00CCFF;
    background-color: white;

    & h1 {
        font-size: 1.3rem;
        background-color: #00CCFF;
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }
    p {
        padding:10px
    }
}